.banner {
    position: relative;
    transform: translateY(-6rem);
    margin-bottom: -6rem;
}
  
.banner-content {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 55%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 2;
}

.banner-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
    filter: brightness(80%);
}
  
.banner-button {
    background-color: transparent;
    font-size: 1rem;
    border: 2px solid var(--primaryLight);
    color: var(--primaryLight);
    padding: 0.4rem 0.8rem;
}

@media (min-width: 768px) {
    .banner-title {
        font-size: 2rem;
    }
}
  