ul {
    list-style-type: none;
    padding: 0;
}

img {
    width: 100%;
    object-fit: contain;
}

.shop-container {
    display: grid;
    justify-content: center;
    text-align: center;
    column-gap: 1rem;
    row-gap: 2rem;
    grid-template-columns: 100%;
    grid-template-rows: min-content;
    box-sizing: border-box;
}

.shop-image {
    box-sizing: border-box;
}

.shop-price {
    font-size: 0.9rem;
}


@media (min-width: 480px) {
    .shop-container {
        column-gap: 2rem;
        row-gap: 2rem;
        grid-template-columns: minmax(auto, 50%) minmax(auto, 50%);
    }
    .shop-image {
        max-width: 100%;
        width: 600px;
        max-height: 45vw;
        height: 600px;
    }
}

@media (min-width: 1024px) {
    .shop-container {
        column-gap: 3rem;
        row-gap: 3rem;
        grid-template-columns: minmax(auto, 33%) minmax(auto, 33%) minmax(auto, 33%);
    }
    .shop-image {
        max-width: 100%;
        max-height: 45vw;
        height: 400px;
    }
}

@media (min-width: 1400px) {
    .shop-container {
        grid-template-columns: minmax(auto, 462px) minmax(auto, 462px) minmax(auto, 462px);
    }
}
