* {
    padding: 0;
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #e3f0ff;
}

/* Navigation Bar */
nav {
    width: 100%;
}

.nav-background {
    width: 100%;
    background-color: lightgray;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav a:last-child {
    margin-left: auto;
}

nav li {
    border: 2px solid black;
    background-color: red;
    padding: 5px 10px;
}


/* Main Section */
main {
    border: 5px solid orange;
    padding: 2rem;
}

main ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

main a {
    border: 2px solid blue;
    width: fit-content;
    margin: 1.5rem auto 1.5rem auto;
}

main img {
    max-width: 75vw;
    width: 600px;
    object-fit: contain;
}

main li div {
    text-align: center;
    max-width: 75vw;
    width: 600px;
    border: 3px solid green;
}


/* Footer */
footer {
    margin-top: auto;
    background-color: lightgray;
}


@media (min-width: 576px) {

}

@media (min-width: 768px) {
    main ul {
        flex-direction: row;
        flex-wrap: wrap;
    }

    main img {
        max-width: 40vw;
        max-height: 40vw;
        height: 600px;
    }

    main li div {
        max-width: 40vw;
    }
}

@media (min-width: 992px) {
    main img, main li div {
        max-width: 28vw;
        max-height: 28vw;
    }
}

@media (min-width: 1200px) {
    main {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
    
    main img, main li div {
        max-width: 336px;
        max-height: 336px;
    }
}

@media (min-width: 1400px) {
    
}

@media (min-width: 1600px) {
    nav {
        max-width: 1600px;
        margin-left: auto;
        margin-right: auto;
    }
}