* {
    padding: 0;
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #e3f0ff;
}

/* Navigation Bar */
nav {
    width: 100%;
}

.nav-background {
    width: 100%;
    background-color: lightgray;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav a:last-child {
    margin-left: auto;
}

nav li {
    border: 2px solid black;
    background-color: red;
    padding: 5px 10px;
}


/* Main Section */
main {
    border: 5px solid orange;
    padding: 2rem;
}

main ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

.product-item {
    margin: 1.5rem auto 1.5rem auto;
    border: 2px solid blue;
    max-width: 75vw;
    width: 600px;
}

.product-image {
    display: block;
    max-width: 75vw;
    width: 600px;
    object-fit: contain;
    border: 3px solid orange;
}

.product-content-container {
    text-align: center;
    max-width: 75vw;
    width: 600px;
    border: 3px solid green;
}


/* Footer */
footer {
    margin-top: auto;
    background-color: lightgray;
}


@media (min-width: 576px) {

}

@media (min-width: 768px) {
    main ul {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .product-item {
      max-width: 40vw;
    }

    .product-image {
        max-width: 40vw;
        max-height: 40vw;
        height: 600px;
    }

    .product-content-container {
        max-width: 40vw;
    }
}

@media (min-width: 992px) {
    .product-item {
      max-width: 28vw;
    }  

    .product-image, .product-content-container {
        max-width: 28vw;
        max-height: 28vw;
    }
}

@media (min-width: 1200px) {
    main {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
    .product-item {
      max-width: 336px;
    }
    .product-image, .product-content-container {
        max-width: 336px;
        max-height: 336px;
    }
    
}

@media (min-width: 1400px) {
    
}

@media (min-width: 1600px) {
    nav {
        max-width: 1600px;
        margin-left: auto;
        margin-right: auto;
    }
}






.modal img {
    height: 100%;
    width: 100%;
}


.thumbnail-container {
  display: flex;
  position: relative;
  width: 100%;
  height: 60px;
  border: 3px solid black;
}
.thumbnail {
  padding: 2px;
  width: 60px;
  object-fit: cover;
}
  
  /* The Modal (background) */
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 1vh;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    padding: 0;
    width: 90%;
    height: 98vh;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid white;
  }
  
  /* The Close Button */
  .close {
    color: white;
    position: absolute;
    top: -10px;
    right: 0;
    padding: 15px;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
  }
  
  .mySlides {
    display: none;
    border: 3px solid green;
  }
  .mySlides img {
    max-height: 98vh;
    max-width: 75vw;
    margin: auto;
    object-fit: contain;
    border: 3px solid purple;
  }
  
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    padding: 14px;
    background-color: blue;
    opacity: 0.8;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  