* {
  padding: 0;
  margin: 0;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  
  /* Colors */
  --primaryDark: #141414;
  --primaryLight: white;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--primaryDark);
}
main {
  padding: 2rem 1rem;
}
h2, h3 {
  font-weight: 300;
  margin-top: 1rem;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
i {
  font-size: 36px;
}


/* -------------------- */
/* Utility Classes      */
/* -------------------- */
.cursor {
  cursor: pointer;
}
.two-sec-ease {
  transition: 0.2s ease;
}
.hover-opacity:hover {
  opacity: 0.8;
  transition: opacity 0.2s ease;
}
.text-align-center {
  text-align: center;
}
.object-fit-contain {
  object-fit: contain;
}

/* -------------------- */
/* Navigation Bar       */
/* -------------------- */
nav ul {
  display: flex;
}
nav li:last-child {
  margin-left: auto;
}
nav a {
  display: flex;
  align-items: center;
  padding: 0 1rem;
  height: 50px;
}
.cart-count {
  position: absolute;
  margin-top: 5px;
  margin-left: 23px;
  transform: translateX(-50%);
  color: var(--primaryDark);
  font-size: 0.8rem;
  font-weight: 700;
}


/* -------------------- */
/* Index Page Section   */
/* -------------------- */
.index-item {
  margin: 0 auto 4rem auto;
}
.index-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}


/* ---------------------- */
/* Detail Page Components */
/* ---------------------- */
.detail-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  width: 1080px;
  max-height: 90vw;
  height: 1080px;
}
.thumbnail {
  margin: 5px 5px 0 0;
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.size, .quantity {
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAyMC4wLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiDQoJIHZpZXdCb3g9IjAgMCA0LjkgMTAiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDQuOSAxMDsiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPHN0eWxlIHR5cGU9InRleHQvY3NzIj4NCgkuc3Qwe2ZpbGw6I2ZmZmZmZjt9DQo8L3N0eWxlPg0KPHRpdGxlPmFycm93czwvdGl0bGU+DQo8cG9seWdvbiBjbGFzcz0ic3QwIiBwb2ludHM9IjEuNCw0LjcgMi41LDMuMiAzLjUsNC43ICIvPg0KPHBvbHlnb24gY2xhc3M9InN0MCIgcG9pbnRzPSIzLjUsNS4zIDIuNSw2LjggMS40LDUuMyAiLz4NCjwvc3ZnPg==) no-repeat right 2px center;
  -moz-appearance: none; 
	-webkit-appearance: none; 
	appearance: none;
  background-color: var(--primaryDark);;
  padding-left: 2%;
  width: 48%;
  border: 1px solid var(--primaryLight);
  height: 2.5rem;
  font-size: 1rem;
  margin-bottom: 1rem;
}
.size:focus, .quantity:focus {
  outline: none;
}
.quantity {
  float: right;
}
.add-to-cart {
  -moz-appearance: none; 
	-webkit-appearance: none; 
	appearance: none;
  background-color: var(--primaryDark);;
  width: 100%;
  height: 2.5rem;
  border: 3px solid var(--primaryLight);
  transition: 0.2s;
  font-size: 1rem;
}
.add-to-cart:hover {
  color: var(--primaryDark);;
  background-color: var(--primaryLight);
}

/* -------------------- */
/* Modal Box Elements   */
/* -------------------- */
.modal-container {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.85);
}
.modal-content {
  height: 96vh;
  padding: 2vh;
}
.modal-image {
  height: 96vh;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}
.close {
  color: var(--primaryLight);
  position: absolute;
  text-align: right;
  padding-right: 10px;
  top: 0;
  right: 0;
  width: 60px;
  height: 70px;
  font-size: 50px;
}
.prev, .next {
  position: absolute;
  display: block;
  margin-left: -2vh;
  width: 50px;
  padding: 30px 10px;
  top: 50%;
  transform: translateY(-50%);
  padding-left: 10px;
  color: var(--primaryLight);
  font-size: 35px;
  user-select: none;
}
.next {
  right: 0;
  text-align: right;
}

/* ---------------------- */
/* Cart Page              */
/* ---------------------- */
#empty-cart {
  display: none;
  padding-top: 1rem;
}
#cart-header {
  display: none;
  border-bottom: 1px solid var(--primaryLight);
  padding-top: 1rem;
}
.cart-header-quantity {
  display: flex;
  margin-left: auto;
  width: 40px;
  justify-content: center;
}
.cart-header-price {
  width: 75px;
  text-align: right;
}

#subtotal {
  display: none;
  padding-top: 1rem;
  text-align: right;
}
.cart-item {
  display: flex;
  font-size: 0.8rem;
  width: 100%;
  height: fit-content;
  align-items: center;
  border-bottom: 1px solid var(--primaryLight);
  padding: 1rem 0;
}

.remove-from-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.cart-image {
  display: block;
  width: 50px;
  height: 50px;
  object-fit: contain;
}
.cart-description {
  margin-right: auto;
  width: 40%;
  padding: 0.5rem;
}
.cart-product-size {
  font-size: 0.7rem;
}
.cart-quantity {
  background-color: black;
  width: 40px;
  height: 40px;
  border: 1px solid var(--primaryLight);
  text-align: center;
}
.cart-price {
  min-width: 75px;
  text-align: right;
}
#checkout-button {
  height: 50px;
  margin-top: 2rem;
}

/* -------------------- */
/* Footer               */
/* -------------------- */
footer {
  margin-top: auto;
  text-align: center;
  padding: 18px;
}


/* -------------------- */
/* Media Queries        */
/* -------------------- */
@media (min-width: 768px) {
  main ul {
    display: flex;
    flex-wrap: wrap;
  }
  .index-item {
    margin: 0 auto 3rem auto;
  }
  .index-image {
    max-width: 45vw;
    width: 600px;
    max-height: 45vw;
    height: 600px;
  }
  #detail {
    display: flex;
  }
  .detail-image-container {
    width: 50%;
    padding-right: 1rem;
  }
  .detail-image {
    max-height: 75vh;
  }
  .detail-content-container {
    width: 50%;
    padding-left: 1rem;
    margin-top: auto;
    margin-bottom: auto;
  }
  .size, .quantity, .add-to-cart {
    width: 100%;
    height: 4rem;
    margin-top: 1.5rem;
  }


  .cart-item {
    font-size: 1rem;
  }
  .cart-image {
    width: 100px;
    height: 100px;
  }
  .cart-product-size {
    font-size: 0.9rem;
  }
  .cart-price, .cart-header-price {
    width: 150px;
  }
  #checkout-button {
    display: flex;
    width: 150px;
    margin-top: 2rem;
    margin-left: auto;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 992px) {
  .index-image {
    max-width: 30vw;
    max-height: 30vw;
  }
  .cart-image {
    width: 150px;
    height: 150px;
  }
  .cart-price, .cart-header-price {
    width: 200px;
  }
}

@media (min-width: 1200px) {
  
}

@media (min-width: 1400px) {
  main {
    width: calc(1400px - 2rem);
    margin-left: auto;
    margin-right: auto;
  }
  .index-image {
    max-width: 420px;
    max-height: 420px;
  }
}
