#contact-form input {
    font-size: 1rem;
}
#contact-message {
    height: 10rem;
}
@media (min-width: 768px) {
    #contact {
        width: 768px;
        box-sizing: border-box;
        margin-left: auto;
        margin-right: auto;
    }
}