h2 {
    padding-top: 0;
}

.cart-header {
    display: flex;
    border-bottom: 1px solid var(--primaryLight);
    padding-top: 1rem;
}

.cart-header-quantity {
    display: flex;
    margin-left: auto;
    width: 3rem;
    justify-content: center;
}

.cart-header-price {
    width: 75px;
    text-align: right;
}

.cart-item {
    display: flex;
    font-size: 0.8rem;
    width: 100%;
    height: fit-content;
    align-items: center;
    border-bottom: 1px solid var(--primaryLight);
    padding: 1rem 0;
}

.remove-from-cart {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: var(--primaryDark);
    border: none;
    font-size: 2rem;
}

.cart-image {
    display: block;
    width: 50px;
    height: 50px;
    object-fit: contain;
}

.cart-description {
    font-size: 0.6rem;
    margin-right: auto;
    width: 40%;
    padding: 0.5rem;
    margin-bottom: auto;
    margin-top: auto;
}

.cart-product-size {
    font-size: 0.7rem;
}

.cart-price {
    min-width: 75px;
    text-align: right;
}

.subtotal {
    padding: 1rem 0 2rem 0;
    text-align: right;
}

.checkout-btn {
    width: 100%;
    padding: 0.5rem 1rem;
    border: 2px solid var(--primaryLight);
    background-color: var(--primaryDark);
    transition: 0.2s;
  }
.checkout-btn:hover {
    color: var(--primaryDark);
    background-color: var(--primaryLight);
}

@media (min-width: 768px) {
    .checkout-btn {
        float: right;
        width: fit-content;
    }
}


@media (min-width: 768px) {
    .cart-item, .checkout-item {
        font-size: 1rem;
    }
    .cart-image {
        width: 100px;
        height: 100px;
    }
    .cart-description {
        font-size: 0.8rem;
    }
    .cart-product-size {
        font-size: 0.9rem;
    }
    .cart-price, .cart-header-price {
        width: 150px;
    }
}

@media (min-width: 992px) {
    .cart-image {
      width: 150px;
      height: 150px;
    }
    .cart-price, .cart-header-price {
      width: 200px;
    }
  }