<!doctype html>
<html lang="en">
    <head>
        <!-- Meta Tags -->
        <meta charset="UTF-8">
        <meta name="description" content="Marshall's Print Store">
        <meta name="keywords" content="">
        <meta name="author" content="Marshall Heyda">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="title" property="og:title" content="Marshall's Print Store" />
        <meta property="og:type" content="Website" />
        <meta name="image" property="og:image" content="" />
        <meta name="description" property="og:description" content="Marshall's Print Store" />

        <!-- Link to styles and scripts -->
        <link rel="stylesheet" href="/styles.css">
        <script src="scripts.js"></script>

        <!-- Browser Icon and Title -->
        <link href="" rel="icon">
        <title>Prints | Marshall Heyda</title>

    </head>
    <body>
        <!-- Navigation Bar -->
        <div class="nav-background">    
            <nav>
                <ul>
                    <a href="index.html">
                        <li>
                            Home
                        </li>
                    </a>
                    <a href="">
                        <li>
                            Cart
                        </li>
                    </a>
                </ul>
            </nav>
        </div>

        <!-- Store Items -->
        <main>
            <ul>
                <a href="">
                    <li>
                        <img src="/images/Mt_LeConte_Trail_View.jpg" alt="">
                        <br>
                        <div>Some Description<br>From $...</div>
                    </li>
                </a>
                <a href="">
                    <li>
                        <img src="/images/2021-Miami.jpg" alt="">
                        <br>
                        <div>Some Description<br>From $...</div>
                    </li>
                </a>
                <a href="">
                    <li>
                        <img src="/images/Mt_LeConte_Trail_View.jpg" alt="">
                        <br>
                        <div>Some Description<br>From $...</div>
                    </li>
                </a>
                <a href="">
                    <li>
                        <img src="/images/Mt_LeConte_Trail_View.jpg" alt="">
                        <br>
                        <div>Some Description<br>From $...</div>
                    </li>
                </a>
            </ul>
        </main>
        
        <!-- Footer -->
        <footer>
            Footer
        </footer>

    </body>
</html>