* {
  padding: 0;
  margin: 0;
  color: white;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
  box-sizing: border-box;
  
  /* Colors */
  --primaryDark: #141414;
  --primaryLight: white;
  --primaryMedium: #e2e2e2;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--primaryDark);
}

main {
  padding: 2rem 1rem 5rem 1rem;
}

@media (min-width: 1200px) {
  main {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input {
  -moz-appearance: none; 
	-webkit-appearance: none; 
	appearance: none;
  background-color: var(--primaryDark);
  color: var(--primaryLight);
  border: 1px solid var(--primaryLight);
  height: 2.4rem;
  padding-left: 0.4rem;
  margin: 0.5rem 0;
}

textarea {
  background-color: var(--primaryDark);
  border: 1px solid var(--primaryLight);
  resize: none;
  padding: 0.4rem;
  margin: 0.5rem 0;
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: white;
}

p {
  padding-top: 5px;
  padding-bottom: 5px;
}

/* -------------------- */
/* Utility Classes      */
/* -------------------- */
.cursor {
  cursor: pointer;
}
.two-sec-ease {
  transition: 0.2s ease;
}
.hover-opacity {
  transition: opacity 0.2s ease;
}
.hover-opacity:hover {
  opacity: 0.7;
}
.text-align-center {
  text-align: center;
}
.text-align-left {
  text-align: left;
}
.text-align-right {
  text-align: right;
}
.object-fit-contain {
  object-fit: contain;
}
.full-width {
  width: 100%;
  box-sizing: border-box;
}
.half-width {
  width: 49%;
  box-sizing: border-box;
}
.third-width {
  width: 33%;
  box-sizing: border-box;
}
.quarter-width {
  width: 24%;
  box-sizing: border-box;
}
.flex {
  display: flex;
  justify-content: space-between;
}
.hidden {
  display: none;
}
.stop-scrolling {
  height: 100%;
  overflow: hidden;
}
.inactive {
  color: #969696;
}